{% extends 'layout.html' %}

{% block body %}
    <h1>Setup</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div id="setup" class="form-group" style="width: 50%">
            {{ render_field(form.usernamePet ,value= user , class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.passwordPet,value= passwordPet, class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.empresa,value=empresa, class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.fromEmail ,value= fromEmail , class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.fromPwd,value= fromPwd, class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.smtpServer, value= smtpServer , class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.smtpPort, value= smtpPort , class_="form-control") }}
        </div>
        <div class="form-group" style="width: 50%">
            {{ render_field(form.mailList,value= mailList , class_="form-control") }}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
{% endblock %}
